*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #dae1eb;
	overflow: hidden;
}

header{
	background: #dae1eb;	
	padding: 20px;
	box-shadow:  8px 8px 16px #b9bfc8, 
             -8px -8px 16px #fbffff;
}

header > h1{
	color: #121212;
	text-align: center;
	font-weight: 600;
	font-family: sans-serif;
	letter-spacing: 2px;
}

.score-board{
	position: relative;
	margin: 20px auto;
	width: 200px;
	color: #454545;
	font-size: 46px;
	border-radius: .5rem;
	border: none;
	text-align: center;
	padding: 15px 20px;
	font-family: sans-serif;
	box-shadow:  8px 8px 16px #b9bfc8,-8px -8px 16px #fbffff;
	margin-top: 3rem;
}

.badge{
	background: rgb(47,110,249);
	color: #dae1eb;
	font-size: 14px;
	padding: 1rem .6rem;
	font-family: sans-serif;
	border-radius: 100%;
    box-shadow:5px 5px 27px -1px rgba(49, 110, 249, 0.49);
}

#user-label{
	position: absolute;
	top: 20px;
	left: -25px;
	padding: 1rem .7rem;
}

#computer-label{
	position: absolute;
	top: 20px;
	right: -32px;
}

.result{
	font-size: 40px;
	color: #fff;
	margin-top: 1.5rem;
}

.result > p{
	text-align: center;
	font-family: sans-serif;
	font-weight: bold;
	color: #454545;
}

.choices{
	margin: 30px 0;
	text-align: center;
	font-size: 5rem;
	color: #454545;
}

.choice{
	border-radius: 50%;
    display: inline-block;
	padding: 25px 35px;
	margin: 0 15px;
	box-shadow:  8px 8px 16px #b9bfc8, -8px -8px 16px #fbffff;
	transition: .5s;
}

.choice:hover{
	cursor: pointer;
    color: #121212;
	transform: scale(1.1);	
}

#action-message{
	text-align: center;
	color: #454545;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 40px;
	margin-top: 2.1rem;
}

.green-glow{
	background-color: rgb(30 215 96);
	color: aliceblue;
	box-shadow:3px 3px 26px 0px rgba(30, 215, 96, 0.55);
}

.red-glow{
	background-color: rgb(220,20,60);
	color: aliceblue;
	box-shadow:3px 3px 26px 0px rgb(220,20,60,0.55);
}

.gray-glow{
	background-color: rgb(128,128,128);
	color: aliceblue;
	box-shadow:3px 3px 26px 0px rgb(128,128,128,0.55);
}

@media only screen and (max-width: 600px){
	header{
		padding: 25px;
	}
	.result > p{
	font-size: 25px;	
	}
}


























